<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Arvilla_Browser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Arvilla_Browser.Properties.Settings>
            <setting name="url" serializeAs="String">
                <value />
            </setting>
            <setting name="back" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="fo" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="fore" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="text" serializeAs="String">
                <value />
            </setting>
            <setting name="max" serializeAs="String">
                <value>False</value>
            </setting>
        </Arvilla_Browser.Properties.Settings>
    </userSettings>
</configuration>